
.loc-select{
  width: 300px; 
  height: 45px;
  
}
.search-box{
  width: 600px;
  height: 45px;
}

.sell{
  border: 3px solid #ffa500;
  background-color: white;
  padding: 7px 12px;
  color: #002f34;
  text-align:center;
  
}

.load{
  border: 2px solid #000;
  background-color: white;
  padding: 8px 20px;
  color: #002f34;
  text-align:center;
}
.footer{
  background-color: #EAECEE  ;
}
.last-search{
  background-color: #EAECEE ;
}
.small-text{
  font-size: smaller;
  color: #002f34;
}

.appstore{
  width: 120px;
}
.olx-bottom{
color: white;
background-color: #132743;
font-size: small;
height: 50px;
}
.classified{
  float: right;
  font-weight: 500;
}
.countries{
  display: inline;
  font-weight: 500;
  padding-right: 3px;
 
}
.slider{
  background-color: black;
}
.bike{
  max-width: 750px;
  height: 450px;
}

.price{
    border: 1px solid grey;
    height: 150px;

}
.date{
  float: right;
}
.heart{
  
  font-size: 20px;
  float: right;
}
.profile{
  width: 70px;
}
.seller{
  border: 1px solid grey;
  height: 250px;
}
.chevron{
  font-size: larger;
  margin-top: 25px;
}
.phone{
  font-size: larger;
  margin-top: 25px;
  
}
.details{
 
  border: 2px solid black;
 
}
.small{
  line-height: 1.6;
}
.posted{
  border: 1px solid grey;
  height: 280px;
  
}